*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.hero-section{
    height: 90vh;
    background-image:linear-gradient(to bottom, rgba(0,0,0, 0.3), rgba(0,0, 0.3)), url('./assets/back.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#brand{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 54px;
}

#logo{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 8px solid #dad017;
    padding: 8px;
    background-color: #ffffff;
}


#title{
    margin-top: 28px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;

}

.container{
    max-width: 960px;
    margin: auto;
}

.content-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    margin: 80px 0;
}


#left-content{
    width: 33%;
    background-image: url('./assets/intro.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 380px;
    border-radius: 4px;
    
}

#right-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#main-text{
    font-weight: 600;
    font-size: 18px;
}
#content-text{
    text-align: justify;
    line-height: 1.7;
}

footer{
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    padding: 20px;
}

#footer-text{
    text-align: center;
}